@font-face {
  font-family: "Muller";
  font-display: swap;
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProstoOne";
  font-display: swap;
  src: url("../fonts/ProstoOne.woff") format("woff"), url("../fonts/ProstoOne.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  background-color: #ffffff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: 700;
  font-size: 52px;
  text-align: center;
}

.title_main {
  font-size: 62px;
}

.title_white {
  color: #ffffff;
}

.desc {
  font-weight: 300;
  font-size: 26px;
  text-align: center;
}

.desc_main {
  font-weight: 400;
  font-size: 26px;
}

.desc_white {
  color: #ffffff;
}

.btn {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: 700;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  background-color: #efefef;
  color: #212529;
  padding: 15px 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn_big {
  font-size: 16px;
  padding: 20px 45px;
}

/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #212529;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

.popup.active .popup__content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 500px;
  padding: 40px 80px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup__title {
  font-size: 28px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.popup__input {
  margin: 0px 0px 20px 0px;
}

.popup__input input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(86, 88, 105, 0.4);
  border-radius: 4px;
  padding: 0px 0px 0px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__input input._error {
  -webkit-box-shadow: 0 0 12px #df2c2c;
          box-shadow: 0 0 12px #df2c2c;
}

.popup__btn {
  max-width: 100%;
  min-width: 100%;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  z-index: 50;
}

.header.scrolled:before {
  background-color: #212529;
}

.header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 49;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  position: relative;
  z-index: 51;
}

.icon-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 51;
}

.icon-menu span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.menu__body {
  position: relative;
  z-index: 51;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin: 0px 20px 0px 0px;
}

.menu__link {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.hero {
  position: relative;
  min-height: 100vh;
  background: #efefef;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.hero__video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.hero__container {
  position: relative;
  z-index: 5;
}

.hero__body {
  padding: 180px 0px 40px 0px;
}

.hero__title {
  margin: 0px 0px 35px 0px;
}

.hero__desc {
  max-width: 450px;
  margin: 0px auto 36px auto;
}

.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 210px;
}

.item-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-hero__num {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  border-bottom: 1px solid #ff0;
  padding: 8px 0 20px;
  margin: 0 auto 20px;
  text-align: center;
}

.item-hero__desc {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}

.about {
  padding: 60px 0;
  background-color: #efefef;
}

.about__title {
  margin: 0px 0px 40px 0px;
}

.about__desc {
  max-width: 760px;
  margin: 0 auto 70px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about__col {
  max-width: 31%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card {
  width: 100%;
  min-height: 175px;
}

.item-about {
  position: relative;
}

.item-about__img {
  overflow: hidden;
}

.item-about__img img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-about__body {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px 10px 20px 20px;
}

.item-about__title {
  font-weight: 700;
  font-size: 22px;
  margin: 0px 0px 10px 0px;
}

.item-about__desc {
  font-weight: 300;
  font-size: 14px;
}

.card-about {
  background-color: #313042;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 20px;
}

.card-about__title {
  font-weight: 700;
  font-size: 22px;
  margin: 0px 0px 10px 0px;
}

.card-about__desc {
  font-weight: 300;
  font-size: 14px;
}

.works {
  padding: 30px 0 80px;
  background-color: #efefef;
}

.works__desc {
  max-width: 490px;
  margin: 0 auto 40px;
  font-size: 26px !important;
}

.works__desc span {
  display: block;
}

.item-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.item-works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  overflow: hidden;
}

.item-works__img img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-webp .offer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), center/cover no-repeat url(../img/offer/bg.jpeg); }

.no-webp .offer {
  background: -o-linear-gradient(rgba(0, 0, 0, 0.8)), center/cover no-repeat url(../img/offer/bg.jpeg); }

.no-webp .offer {
  background: linear-gradient(rgba(0, 0, 0, 0.8)), center/cover no-repeat url(../img/offer/bg.jpeg); }

.offer {
  padding: 100px 0;
}

.offer__title {
  margin: 0px 0px 20px 0px;
}

.offer__desc {
  max-width: 600px;
  margin: 0px auto 40px auto;
}

.offer__btn {
  margin: 0 auto;
}

.footer {
  position: relative;
  padding: 70px 0px 0px 0px;
}

.footer__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer__container {
  position: relative;
  z-index: 2;
}

.footer__body {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 45px 45px 130px;
  background-color: #262f4a;
  color: #ffffff;
}

.footer__title {
  max-width: 340px;
  font-size: 28px;
  margin: 0px 0px 25px 0px;
}

.footer__desc {
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 25px 0px;
}

.contacts li,
.contacts li a {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.contacts a {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__social {
  margin: 15px 0px 0px 0px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social li {
  margin: 0px 10px 0px 0px;
}

@media (min-width: 767.98px) {
  .btn:hover {
    background-color: #b7b4b4;
  }

  .item-about:hover img {
    -ms-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }

  .contacts a:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1262px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .hero__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 260px;
    margin: 0 auto;
  }

  .about__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__col {
    max-width: 48%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
  }

  .about__col_reverse .about__card {
    margin: 0px 0px 20px 0px;
  }

  .about__card {
    margin: 20px 0px 0px 0px;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #262f4a;
    padding: 0;
  }

  .footer__map {
    position: relative;
    left: auto;
    top: auto;
  }

  .footer__body {
    padding: 45px 0;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .title_main {
    font-size: 48px;
  }

  .desc {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
  }

  .menu__body {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: -100%;
    left: 0%;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 0px 30px 0px;
    background-color: #212529;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
    z-index: 48;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__list {
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 20px 0px;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .item-about__body {
    width: 100%;
  }

  .item-about__title {
    font-size: 18px;
  }

  .card-about__title {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .hero__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 auto 20px;
  }
}

@media (max-width: 479.98px) {
  .title {
    font-size: 36px;
  }

  .title_main {
    font-size: 36px;
  }

  .desc {
    font-size: 16px;
  }

  .about {
    padding: 60px 0 30px;
  }

  .about__title {
    margin: 0px 0px 20px 0px;
  }

  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__col {
    width: 100%;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .about__col_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__col_reverse .about__card {
    margin: 20px 0px 0px 0px;
  }

  .works__desc {
    font-size: 18px !important;
  }

  .item-works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-works__img {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0px 0px 20px 0px;
  }

  .item-works__img:last-child {
    margin: 0px 0px 0px 0px;
  }

  .footer__desc {
    font-size: 16px;
  }

  .contacts li,
  .contacts li a {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .popup__content {
    padding: 40px 40px;
  }
}

.webp .offer { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), center/cover no-repeat url(../img/offer/bg.webp); }

.webp .offer { background: -o-linear-gradient(rgba(0, 0, 0, 0.8)), center/cover no-repeat url(../img/offer/bg.webp); }

.webp .offer { background: linear-gradient(rgba(0, 0, 0, 0.8)), center/cover no-repeat url(../img/offer/bg.webp); }